body {
    background-image: url('templates/background.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(20, 19, 19, 0.5);
}

.form-container {
    background: rgba(177, 173, 173, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    width: 400px;
    max-height: 70vh;
    overflow-y: auto;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    box-sizing: border-box;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 20px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}